:root {
  /* font */
  --main-font: Roboto, sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* colors */
  --main-white-cl: #ffffff;
  --accent-cl: #2196f3;

  /* text colors */
  --main-txt-cl: #757575;
  --title-txt-cl: #212121;
  --accent-cl-white: rgba(255, 255, 255, 0.6);
  --accent-cl-dark: #000000;

  /* background colors */
  --main-bg-cl: #e5e5e5;
  --secondary-bg-cl: #f5f4fa;
  --dark-bg-cl: #2f303a;

  /* Animation */
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.4;

  color: var(--main-txt-cl);
  background-color: var(--main-white-cl);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;

  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;
}
.section {
  padding: 94px 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}

/*
============================
| Logo / Логотип компании
============================
*/
.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-cl);

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 0.84;
  text-decoration: none;
}
.logo--accent-dark {
  color: var(--accent-cl-dark);
}
.logo--accent-white {
  color: var(--main-white-cl);
}

/*
============================
| Header section / Шапка сайта
============================
*/
.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--main-white-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-txt-cl);
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-cl);
}

.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
  transition: color var(--main-animation);
}

.nav__link--current {
  color: var(--accent-cl);
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list__item {
  margin-right: 50px;
}

.header-list__item:last-child {
  margin-right: 0;
}

.header-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--main-animation);
}

.header-list__link--accent {
  color: var(--main-txt-cl);
}

.header-list__link:hover,
.header-list__link:focus {
  color: var(--accent-cl);
}

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*
============================
| Hero section / Герой
============================
*/

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-page/hero/hero-bcg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 200px 0px;
  color: var(--main-white-cl);
  background-color: var(--dark-bg-cl);
  border: 1px solid var(--accent-cl-dark);
  letter-spacing: 0.06em;
}

.hero__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

.hero__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: var(--main-white-cl);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  display: flex;
  align-items: center;
  border: transparent;
  transition: background-color var(--main-animation);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}

/*
============================
| Modal form / Модальное окно
============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
  transition: opacity var(--main-animation), visibility var(--main-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--main-white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity var(--main-animation), visibility var(--main-animation);
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--main-animation);
}

.modal__icon--close:hover,
.modal__icon--close:focus {
  fill: var(--accent-cl);
}

.modal-form {
  text-align: center;
  position: absolute;
  margin: 40px;
}

.modal-form__title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
}

.modal-form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  transition: background-color var(--main-animation);
}

.modal-form__label:focus-within .modal-form__icon {
  fill: var(--accent-cl);
}

.modal-form__label:focus,
.modal-form__label:hover {
  fill: var(--accent-cl);
}

.modal-form__text {
  display: block;
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--main-txt-cl);
}

.modal-form__input {
  display: block;
  margin: 0;
  font: inherit;
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--main-animation);
}

.modal-form__input:hover,
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-cl);
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  right: 12px;
  background-color: var(--main-white-cl);
}

.modal-form__input-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute; */
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkbox__input:checked + .checkbox__icon {
  border-color: var(--accent-cl);
  background-color: var(--accent-cl);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.checkbox__link {
  color: var(--accent-cl);
}
.modal-form__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  align-items: center;
  border: transparent;
  background-color: #2196f3;
  color: var(--main-white-cl);
  transition: background-color var(--main-animation);
}

.modal-form__btn:hover,
.modal-form__btn:focus {
  background-color: #188ce8;
}

/*
============================
| About section / Особенности компании
============================
*/

.section-title {
  margin-bottom: 50px;
  color: var(--title-txt-cl);

  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  text-align: center;
}

.about__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.about__item {
  margin-right: 30px;
  width: 270px;
}

.about__item:last-child {
  margin-right: 0;
}

.about__icon-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  background-color: var(--secondary-bg-cl);
}

.about__icon {
  width: 70px;
  height: 70px;
}

.about__title {
  margin-bottom: 10px;
  color: var(--title-txt-cl);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__uppertitle {
  line-height: 1.7;
}

/*
============================
| Gallery section / Чем мы занимаемся
============================
*/

.gallery {
  padding-top: 0;
}

.gallery__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* .section-title {
  margin-bottom: 50px;
  color: var(--title-txt-cl);

  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  text-align: center;
} */

.gallery__item {
  margin-right: 30px;
}
.gallery__item:last-child {
  margin-right: 0;
}

.gallery__inner {
  position: relative;
}

.gallery__img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery__group {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.gallery__link {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

/* .gallery.style {
  position: relative;
} */

.gallery__title {
  margin-bottom: 10px;
  color: var(--title-txt-cl);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-white-cl);
  font-style: normal;
  line-height: 0.88;
  text-align: center;
  margin-bottom: 0;
}

/*
============================
| Team section / Наша команда
============================
*/
.team {
  background-color: var(--secondary-bg-cl);
  font-size: 0.88;
  line-height: 1.19;
}

.team__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.team__item {
  margin-right: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--main-white-cl);
}

.team__sign {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-txt-cl);

  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.team__text {
  text-align: center;
  margin-bottom: 16px;
}

/*
============================
| Team Icons / Иконки Команды
============================
*/

.team__icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  list-style-type: none;
}

.team__icon-item {
  margin-right: 10px;
}

.team__icon-item:last-child {
  margin-right: 0;
}

.team__icon-item:not(:last-child) {
  margin-right: 10px;
}

.team__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: var(--main-white-cl);
  border-radius: 50%;
  transition: background-color var(--main-animation);
}

.team__icon-link:hover,
.team__icon-link:focus {
  background-color: var(--accent-cl);
}

.team__icon--accent {
  transition: fill var(--main-animation);
}
.team__icon-link:hover .team__icon--accent {
  fill: var(--main-white-cl);
}

.team__icon {
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  transition: fill var(--main-animation);
}
.team__icon:hover,
.team__icon:focus {
  fill: var(--main-white-cl);
}

/*
============================
| Clients / Клиенты
============================
*/
.clients {
  padding: 94px 0;
  background-color: var(--main-white-cl);
}

.clients__title {
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.clients__item {
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--main-animation);
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__item:hover,
.clients__item:focus {
  border-color: var(--accent-cl);
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  cursor: pointer;
  transition: fill var(--main-animation), border-color var(--main-animation);
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-cl);
  border-color: var(--accent-cl);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

/*
============================
| Footer section / Подвал 
============================
*/
.footer {
  padding-top: 60px;
  padding-bottom: 57px;
  background-color: var(--dark-bg-cl);
}
.footer__holder {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer__container {
  margin-right: 70px;
}
.footer__logo {
  padding: 0px;
  margin-bottom: 20px;
}
.footer__address-list {
  display: block;
}

.footer__address-link {
  color: var(--main-white-cl);
  font-style: normal;
  line-height: 1.7;
}

.footer__address-item:first-child {
  margin-bottom: 9px;
}
.footer__address-item:last-child {
  margin-top: 6px;
}
.footer__address-link--accent {
  color: var(--accent-cl-white);
}

/* 
============================
| Join section / Присоединяйтесь
============================
*/

.footer__icon-group {
  display: block;
  margin-right: 93px;
}

.footer__title {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-cl);
}

.footer__icon-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer__icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--main-animation);
}

.footer__icon-link:hover,
.footer__icon-link:focus {
  background-color: var(--accent-cl);
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: var(--main-white-cl);
}

/* 
============================
| Subscribe section / Подпишитесь на рассылку
============================
*/
.subscribe-form__wrapper {
  display: flex;
  align-items: flex-end;
}
.subscribe-form__label {
  margin-right: 12px;
}

.subscribe-form__title {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-cl);
}

.subscribe-form__text {
  padding: 15px 15px 15px 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
}

.subscribe-form__btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: #2196f3;
  color: var(--main-white-cl);
  border: transparent;
  transition: background-color var(--main-animation);
}

.subscribe-form__btn::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url('../images/icons.svg/icon-send.svg');
  background-size: contain;
}

.subscribe-form__btn:hover,
.subscribe-form__btn:focus {
  background-color: #188ce8;
}

/* 
Portfolio
============================
| Filters section / Фильтры
============================
*/

.filters__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters__item {
  margin-right: 8px;
  margin-bottom: 50px;
}

.filters__item:last-child {
  margin-right: 0px;
}

.filters__btn {
  transition: box-shadow var(--main-animation), color var(--main-animation),
    background-color var(----main-animation);
}

.filters__item:hover,
.filters__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filters__btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: var(--title-txt-cl);
  background-color: var(--secondary-bg-cl);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition: color var(--main-animation), background-color var(--main-animation);
}

.filters__btn:hover,
.filters__btn:focus {
  color: var(--main-white-cl);
  background-color: var(--accent-cl);
}

.filters__btn--current {
  color: var(--main-white-cl);
  background-color: var(--accent-cl);
}
/* 
============================
| Projects section / Проекты
============================
*/

.projects__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.projects__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 2 * 30px) / 3);
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: var(--main-white-cl);
}

.projects__item:nth-child(3n) {
  margin-right: 0;
}
.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__icon-link {
  display: inline-block;
  transition: box-shadow var(--main-animation);
}

.projects__icon-link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projects__holder {
  position: relative;
  overflow: hidden;
}

.projects__action {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(100%);
  transition: transform var(--main-animation);
}

.projects__text {
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  display: flex;
  align-items: center;
  margin: 63px 24px;
  color: #ffffff;
}

.projects__sign-group {
  padding: 20px 24px;
}

.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  text-align: left;
}

.projects__label {
  color: var(--main-txt-cl);
  font-size: 16px;
  line-height: 1.88;
}

.projects__icon-link .projects__action {
  transition: transform var(--main-animation);
}

.projects__icon-link:hover .projects__action,
.projects__icon-link:focus .projects__action {
  transform: translateY(-100%);
}
